
.bg{
  background: url(../../assets/r.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 200%;
}

.col-center-block {
    float: none;
    display: block;
    margin: 0 auto;
    /* margin-left: auto; margin-right: auto; */
}

.color{
  color: #ffffff;
}

.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

.btnsize{
  width: 100%;
  background-color:#cc3333;
}

a{
    font-family:verdana, arial, helvetica, sans-serif;
    font-size:100%;
    font-weight:bold;
    font-style:normal;
    text-decoration:none;
    text-transform:none;
    margin:0px;
    padding:0px;
    color:#2C6598;
}
