
<!--<div class="container">-->
    <!--<div class="row">-->
        <!--<div class="col-sm-6 col-md-4 col-md-offset-4">-->
            <!--<h1 class="text-center login-title" style="color: ">Log in your app!!!</h1>-->
            <!--<div class="account-wall">-->
                <!--&lt;!&ndash;<img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"&ndash;&gt;-->
                    <!--&lt;!&ndash;alt="">&ndash;&gt;-->
                <!--<form class="form-signin">-->
                <!--<input type="text" class="form-control" placeholder="Email" required autofocus><br>-->
                <!--<input type="password" class="form-control" placeholder="Password" required>-->
                <!--<button class="btn btn-lg btn-primary btn-block" type="submit">-->
                    <!--Sign in</button>-->

                <!--<a href="#" class="pull-right need-help">Forgot Password? </a><span class="clearfix"></span>-->
                <!--</form>-->
            <!--</div>-->
            <!--<a href="#" class="text-center new-account">Create an account </a>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<div class="container-fluid bg fullscreen" id="main">
  <div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4">
    <h3 class="text-center">Login your app!!!</h3>
    <img class="img-circle center-block" style="height: 150px; width: 150px" src="../../assets/HD.jpg"><br>
    <form>
      <input type="email" class="form-control" placeholder="Email" id="email" name="email" required><br>
      <input type="password" class="form-control" placeholder="Password" id="password" name="password" required><br>
      <button class="btn btn waves-effect waves-light z-depth-5 btnsize" type="submit">Sign in</button><br><br><br>
      <a href="#" class="pull-right">Forgot Password? </a><br>
    </form>
      <a href="#">Create an Account</a>
    </div>
  </div>
</div>
