<div class="container-fluid bg fullscreen">
                             <div class="container">
                <div class="row">
                    <div class="col s12 center"><span class="flow-text">Let's get you into your account!!!<br>
                      <ul>Tell us your
<li>Recovery phone number</li>
<li>Recovery email address</li></ul>
</span></div>
                </div>
                    <form class="col s12">
                      <div class="input-field col s12 ">
                        <input id="email" name="email" placeholder="Email" type="email" class="validate">
                      </div><br>
                      <div class="input-field col s12 ">
                         <input id="phone" name="phone" type="tel" placeholder="Phone Number" class="validate">
                      </div>
                      <div class="row center">
                        <button class="btn waves-effect waves-light z-depth-5" style="margin-top: 50px; background-color:#cc3333" type="submit" id="submit" name="submit">Continue
                        </button>
                      </div>
                    </form>
                </div>
                </div>

